body {
margin-top: 0px;
font-size: 14px;
font-family: arial,sans-serif;
color: #202124;
}

nav {
  padding: 6px;
  padding-left: 6px;
  height:48px;
  min-width: auto;
  display: flex;
  align-items: center;
  display: inline-block;
  flex-grow: 1;
  width: 100%;
 
}

.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    float: right;
    height: 48px;
  }
  
  .headerli a {
    color:rgba(0,0,0,.87);
    text-align: center;
    padding: 5px 5px 5px 5px ;
    text-decoration: none;
    line-height: normal;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;

  }

  .headerli a:hover {
    text-decoration: underline;
  }

  .pic {
    border-radius: 50%;

  }

  .pic a {
    width: 32px;
    height: 32px;
  }

  .product a {
    width: 32px;
    height: 32px;
  }

  .pic:hover, .product:hover { 
    background-color: rgba(60,64,67,.08);
    border-radius: 50px;
  
  }
  
  .container {
    text-align: center;
    margin: 100px;   
    display: flex;
    flex-direction: column;
    align-items: center; 
  
  }

  .logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
  }
  .search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: auto;
    width: 582px;
    border-radius: 24px;
  
  }
  
  .search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  }
  
  .search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;  
  }

  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px; 
  }

  .search-voice {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: -5px;  
  }
  
    #voiceSearchButton {
    background: url(/img/googlemic_clr_24px.svg) no-repeat center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 21px 21px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
     /* position: absolute;*/
    right: 16px; 
   
  }


  :-webkit-any(input, ntp-realbox-icon, #voiceSearchButton) {
      z-index: 100;
  }

  button {
      appearance: auto;
      writing-mode: horizontal-tb !important;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: center;
      align-items: flex-start;
      cursor: default;
      box-sizing: border-box;
      margin: 0em;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-image: initial;
  }

  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    align-items: center !important;
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
  }
  
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    border: none;

    width: 480px;
  }
  
  .buttons {
    padding-top: 18px;
    height: 70px;
    text-align: center;
  }

  .googlesearch, .feelinglucky  {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  .googlesearch:hover, .feelinglucky:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .footer {
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    background-color:#f2f2f2;
  }
  
  .footerli {
    float: left;
    list-style: none;
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }

/* product svg'sini gri yapmak için class */
  .filter-gray{
    filter: contrast(0);
}

.pro {
  width: 16px; 
  height: 16px; 
  margin-right: 3px; 
  opacity: 1; 
  margin-top:8px;
}

/* products uzerine gelinince product svg'sinin siyah rengi almasi icin */
.product:hover {
  filter :brightness(0%) ;
}